<h1>Our Contacts:</h1>
<form action="/home/contacts" method="post">
  <p>
    <label for="email">Email:</label>
    <input type="text" name="contact[email]">
  </p>
  <p>
    <label for="message">Message:</label><br>
    <textarea name="contact[message]" id="" cols="30" rows="10"></textarea>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
